@import "../../styles/variables.scss";

nav.main {
  display: flex;
  justify-content: space-between;
  background-color: rgba(106, 112, 155, 0.765);
  height: 48px;
  align-items: center;
  overflow: hidden;
  font-size: 12px;

  .connta {
    float: left;
    overflow: hidden;

    .conntabtn {
      border: none;
      outline: none;
      color: white;
      padding: 17px 18px;
      background-color: inherit;
      font: inherit;
      margin: 0;

      &:hover {
        transform: scale(1.2);
        background-color: rgb(0, 0, 0);
        background-color: rgba(56, 58, 69, 0.4);
      }
    }
  }

  .connta-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .connta:hover .connta-content {
    display: block;
  }

  .column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    height: 190px;

    a {
      float: none;
      color: white;
      padding: 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  }

  a {
    float: left;
    color: $text-color;
    text-decoration: none;
    text-align: center;

    //   &:hover {
    //     transform: scale(1.1);
    //     background-color: rgb(0, 0, 0);
    //     background-color: rgba(56, 58, 69, 0.4);

  }

  //   // &.active {
  //   //   box-shadow: 4px 4px 6px 4px rgba(115, 115, 115, 0.25);
  //   // }

  //   @include breakpoint-small {
  //     padding: 0.75rem 1.5rem;
  //     font-size: 1rem;
  //   }
  // }
}