@import '../../../styles/variables.scss';

.introduce {
  .para1 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 3rem;
  }

  .para2 {
    font-size: 14px;
    margin-bottom: 3rem;
  }

  .para3 {
    text-align: left;
    font-size: 20px;
  }
  
  .about {
    width: 70%;
    height: 70%;
    align-items: center;
  }

  .aboutLogo {
    margin-top: 3rem;
    align-items: center;
    height: 3rem;
  }
}