// EVERY variables for scss 
$title-font: 'Lobster', cursive;
$body-font: 'Roboto', sans-serif;

$title-color: #515052;
$primary-color: #3e497a;
$secondary-color: #ec85f1;
$text-color: #4a4a4a;
$border-color: #be90cb;

@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(600px) {
    @content;
  }
}

@mixin breakpoint-large {
  @include breakpoint(1200px) {
    @content;
  }
}